<h1>Votre liste de course !</h1>
<br>
<br>
<br>  
<br>
<p>Ajouter tous les produits et aliments dont vous avez besoin de vous en souvenir :)</p>

<div class="row">
  <div class="col-6 mx-auto">
    <div class="row" style="margin-top:150px;">
      <input type="text" class="form-control col-9" [(ngModel)]="panier">
      <button class="btn btn-primary col-3" (click)="paniers.push(panier)">Ajouter à la liste</button>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 100px;">
  <ul class="list-group list-group-flush col-8 mx-auto">
    <app-liste *ngFor="let p of paniers" [panier]="p"></app-liste>
  </ul>
</div>